{erl_opts, [debug_info]}.

{deps, [{base58, {git, "https://github.com/aeternity/erl-base58.git", {ref, "60a3356"}}}]}.

{plugins, [rebar3_rustler]}.

{cargo_opts, [
    {src_dir, "native/aeser_nif"}
]}.

{provider_hooks, [
    {pre, [
        {compile, {cargo, build}}
    ]},
    {post, [
        {clean, {cargo, clean}},
        {eunit, {cargo, test}}
    ]}
]}.
