{erl_opts, [debug_info]}.

{deps, [
        {base58, {git, "https://github.com/aeternity/erl-base58.git", {ref, "60a3356"}}},
        {aeserialization, {git, "https://github.com/aeternity/aeserialization.git",
                            {ref, "eb68fe3"}}}
]}.

{plugins, [rebar3_rustler]}.

{cargo_opts, [
    {src_dir, "native/aesr_nif"}
]}.

{provider_hooks, [
    {pre, [
        {compile, {cargo, build}}
    ]},
    {post, [
        {clean, {cargo, clean}},
        {eunit, {cargo, test}}
    ]}
]}.
